allow mm-qcamerad { gpu_device video_device camera_device sensors_device audio_device }:chr_file rw_file_perms;
allow mm-qcamerad { camera_data_file system_data_file camera_socket }:sock_file { create_file_perms unlink create setattr };
allow mm-qcamerad init:unix_stream_socket { connectto write };
allow mm-qcamerad property_socket:sock_file { write };

