[project]
[access "refs/*"]
	owner = group Administrators
	create = group htc_msm8960
	label-Code-Review = -2..+2 group htc_msm8960
	label-Verified = -1..+1 group htc_msm8960
	submit = group htc_msm8960
	forgeCommitter = group htc_msm8960
	rebase = group htc_msm8960
[submit]
	action = rebase if necessary
